.App {
  display: flex;
  align-items: left;
  padding-left: 50px;
  
}
.monster-card {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
}
h1 {
  font-size: 20px;
  font-family: sans-serif;
}

img {
  width: 70%;
  display: flex;
  justify-content: center;
  
}

button {
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}